.layout {
  display: flex;
}
main {
  width: 100%;
  // padding: 20px;
  color: #ccc;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  flex-shrink: 0;
  background-color: var(--color-white);
  overflow: auto;
  color: var(-color-dark);
  transition: all 0.5s;
  box-shadow: 7px 0 3px -2px rgb(136, 134, 134);
}

.top_section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 15px;
 // border-bottom: 2px solid #ccc;
  transition: all 0.5s;
  background-color: var(--dark-blue);
  height: 70px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 80px;
  cursor: pointer;
  color: rgb(4, 18, 34);
  transition: all 0.3s;
}

.bars:hover {
  color: var(--color-primary);
  font-size: 27px;
}

.lists:hover {
  color: var(--color-primary);
  font-size:19px;
  transition: all 0.3s;
}

h4:hover{

    color: var(--color-primary);
    font-size:19px;
    transition: all 0.3s;
  
}



a {
  color: var(--colo-dark);
  text-decoration: none;
  transition: all 0.2s;
}



.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--light-blue);
}


